  $arrow_down: -158px -40px 32px 32px;
  $arrow_left: -40px -150px 32px 32px;
  $arrow_right: -158px -80px 32px 32px;
  $arrow_up: -0px -150px 32px 32px;
  $article_normal: -80px -150px 32px 32px;
  $article_published_normal: -110px -48px 32px 32px;
  $article_published_selected: -0px -110px 32px 32px;
  $articlel_selected: -40px -110px 32px 32px;
  $bizcard_hover: -64px -190px 24px 24px;
  $bizcard_normal: -32px -190px 24px 24px;
  $checked: -0px -0px 54px 54px;
  $edit: -198px -0px 24px 24px;
  $fail: -152px -150px 24px 24px;
  $home_hover: -0px -190px 24px 24px;
  $home_normal: -120px -150px 24px 24px;
  $icon_play_music_hover: -110px -0px 40px 40px;
  $icon_play_music_normal: -62px -0px 40px 40px;
  $icon_stop_music_hover: -48px -62px 40px 40px;
  $icon_stop_music_normal: -0px -62px 40px 40px;
  $icon_v: -198px -32px 24px 24px;
  $image_hover: -198px -64px 24px 24px;
  $image_normal: -198px -96px 24px 24px;
  $import_hover: -198px -128px 24px 24px;
  $import_normal: -120px -110px 24px 24px;
  $media_normal: -158px -0px 32px 32px;
  $media_selected: -80px -110px 32px 32px;
  $music_hover: -96px -190px 24px 24px;
  $music_normal: -128px -190px 24px 24px;
  $video_hover: -160px -190px 24px 24px;
  $video_normal: -192px -190px 24px 24px;
  $vote_hover: -230px -0px 24px 24px;
  $vote_normal: -230px -32px 24px 24px;

  @mixin sprite-width($sprite) {
  width: nth($sprite, 3);
  }

  @mixin sprite-height($sprite) {
  height: nth($sprite, 4);
  }

  @mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 1) - 4;
  $sprite-offset-y: nth($sprite, 2) - 4;
  background-position: $sprite-offset-x $sprite-offset-y;
  }

  @mixin sprite-icon() {
  background-image: url('#{$icon-sprite-path}/icon.png?v=#{$version}');
  }

  @mixin sprite($sprite) {
  @include sprite-position($sprite);

  @include sprite-width($sprite);
  @include sprite-height($sprite);

  }

  .icon {
    background-repeat: no-repeat;
    overflow: hidden;
    border: none;
    background: url('#{$icon-sprite-path}/icon.png?v=#{$version}');
    @include inline-block();
    vertical-align: middle;
    font-style: normal;
  }

  .arrow_down {
    @include sprite($arrow_down);
  }
  .arrow_left {
    @include sprite($arrow_left);
  }
  .arrow_right {
    @include sprite($arrow_right);
  }
  .arrow_up {
    @include sprite($arrow_up);
  }
  .article_normal {
    @include sprite($article_normal);
  }
  .article_published_normal {
    @include sprite($article_published_normal);
  }
  .article_published_selected {
    @include sprite($article_published_selected);
  }
  .articlel_selected {
    @include sprite($articlel_selected);
  }
  .bizcard_hover {
    @include sprite($bizcard_hover);
  }
  .bizcard_normal {
    @include sprite($bizcard_normal);
  }
  .checked {
    @include sprite($checked);
  }
  .edit {
    @include sprite($edit);
  }
  .fail {
    @include sprite($fail);
  }
  .home_hover {
    @include sprite($home_hover);
  }
  .home_normal {
    @include sprite($home_normal);
  }
  .icon_play_music_hover {
    @include sprite($icon_play_music_hover);
  }
  .icon_play_music_normal {
    @include sprite($icon_play_music_normal);
  }
  .icon_stop_music_hover {
    @include sprite($icon_stop_music_hover);
  }
  .icon_stop_music_normal {
    @include sprite($icon_stop_music_normal);
  }
  .icon_v {
    @include sprite($icon_v);
  }
  .image_hover {
    @include sprite($image_hover);
  }
  .image_normal {
    @include sprite($image_normal);
  }
  .import_hover {
    @include sprite($import_hover);
  }
  .import_normal {
    @include sprite($import_normal);
  }
  .media_normal {
    @include sprite($media_normal);
  }
  .media_selected {
    @include sprite($media_selected);
  }
  .music_hover {
    @include sprite($music_hover);
  }
  .music_normal {
    @include sprite($music_normal);
  }
  .video_hover {
    @include sprite($video_hover);
  }
  .video_normal {
    @include sprite($video_normal);
  }
  .vote_hover {
    @include sprite($vote_hover);
  }
  .vote_normal {
    @include sprite($vote_normal);
  }
