  $arrow_down: -160px -158px 32px 32px;
  $arrow_left: -40px -158px 32px 32px;
  $arrow_right: -166px -40px 32px 32px;
  $arrow_up: -166px -0px 32px 32px;
  $article_normal: -166px -80px 32px 32px;
  $article_published_normal: -0px -158px 32px 32px;
  $article_published_selected: -80px -158px 32px 32px;
  $articlel_selected: -120px -158px 32px 32px;
  $bizcard_daren_hover: -48px -198px 16px 16px;
  $bizcard_daren_normal: -72px -198px 16px 16px;
  $bizcard_hover: -96px -198px 16px 16px;
  $bizcard_normal: -216px -198px 16px 16px;
  $checkbox_checked: -0px -222px 16px 16px;
  $checkbox_unchecked: -206px -136px 16px 16px;
  $checked: -0px -0px 54px 54px;
  $fail: -206px -80px 24px 24px;
  $icon_close_usercard: -92px -110px 36px 36px;
  $icon_close_usercard_hover: -48px -110px 36px 36px;
  $icon_play_music_hover: -0px -62px 40px 40px;
  $icon_play_music_normal: -48px -62px 40px 40px;
  $icon_preview: -206px -112px 16px 16px;
  $icon_preview_hover: -144px -222px 16px 16px;
  $icon_save: -206px -160px 16px 16px;
  $icon_save_hover: -166px -120px 16px 16px;
  $icon_saved: -136px -110px 16px 16px;
  $icon_saving: -0px -198px 16px 16px;
  $icon_stop_music_hover: -118px -0px 40px 40px;
  $icon_stop_music_normal: -118px -48px 40px 40px;
  $icon_upload_camera: -0px -110px 40px 40px;
  $icon_upload_camera_hover: -62px -0px 48px 48px;
  $image_hover: -120px -198px 16px 16px;
  $image_normal: -144px -198px 16px 16px;
  $import_hover: -168px -198px 16px 16px;
  $import_normal: -192px -198px 16px 16px;
  $media_normal: -206px -0px 32px 32px;
  $media_selected: -206px -40px 32px 32px;
  $music_hover: -24px -222px 16px 16px;
  $music_normal: -48px -222px 16px 16px;
  $video_hover: -72px -222px 16px 16px;
  $video_normal: -96px -222px 16px 16px;
  $vote_hover: -120px -222px 16px 16px;
  $vote_normal: -24px -198px 16px 16px;

  @mixin sprite-width($sprite) {
  width: nth($sprite, 3);
  }

  @mixin sprite-height($sprite) {
  height: nth($sprite, 4);
  }

  @mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 1) - 4;
  $sprite-offset-y: nth($sprite, 2) - 4;
  background-position: $sprite-offset-x $sprite-offset-y;
  }

  @mixin sprite-icon() {
  background-image: url('#{$icon-sprite-path}/icon.png?v=#{$version}');
  }

  @mixin sprite($sprite) {
  @include sprite-position($sprite);

  @include sprite-width($sprite);
  @include sprite-height($sprite);

  }

  .icon {
    background-repeat: no-repeat;
    overflow: hidden;
    border: none;
    background: url('#{$icon-sprite-path}/icon.png?v=#{$version}');
    @include inline-block();
    vertical-align: middle;
    font-style: normal;
  }

  .arrow_down {
    @include sprite($arrow_down);
  }
  .arrow_left {
    @include sprite($arrow_left);
  }
  .arrow_right {
    @include sprite($arrow_right);
  }
  .arrow_up {
    @include sprite($arrow_up);
  }
  .article_normal {
    @include sprite($article_normal);
  }
  .article_published_normal {
    @include sprite($article_published_normal);
  }
  .article_published_selected {
    @include sprite($article_published_selected);
  }
  .articlel_selected {
    @include sprite($articlel_selected);
  }
  .bizcard_daren_hover {
    @include sprite($bizcard_daren_hover);
  }
  .bizcard_daren_normal {
    @include sprite($bizcard_daren_normal);
  }
  .bizcard_hover {
    @include sprite($bizcard_hover);
  }
  .bizcard_normal {
    @include sprite($bizcard_normal);
  }

  .checkbox {
    @include sprite($checkbox_unchecked);
  }
  .selected .checkbox {
    @include sprite($checkbox_checked);
  }


  .checked {
    @include sprite($checked);
  }
  .fail {
    @include sprite($fail);
  }
  .icon_close_usercard {
    @include sprite($icon_close_usercard);
  }
  .icon_close_usercard_hover {
    @include sprite($icon_close_usercard_hover);
  }
  .icon_play_music_hover {
    @include sprite($icon_play_music_hover);
  }
  .icon_play_music_normal {
    @include sprite($icon_play_music_normal);
  }
  .icon_preview {
    @include sprite($icon_preview);
  }
  .icon_preview_hover {
    @include sprite($icon_preview_hover);
  }
  .icon_save {
    @include sprite($icon_save);
  }
  .icon_save_hover {
    @include sprite($icon_save_hover);
  }
  .icon_saved {
    @include sprite($icon_saved);
  }
  .icon_saving {
    @include sprite($icon_saving);
  }
  .icon_stop_music_hover {
    @include sprite($icon_stop_music_hover);
  }
  .icon_stop_music_normal {
    @include sprite($icon_stop_music_normal);
  }
  .icon_upload_camera {
    @include sprite($icon_upload_camera);
  }
  .icon_upload_camera_hover {
    @include sprite($icon_upload_camera_hover);
  }
  .image_hover {
    @include sprite($image_hover);
  }
  .image_normal {
    @include sprite($image_normal);
  }
  .import_hover {
    @include sprite($import_hover);
  }
  .import_normal {
    @include sprite($import_normal);
  }
  .media_normal {
    @include sprite($media_normal);
  }
  .media_selected {
    @include sprite($media_selected);
  }
  .music_hover {
    @include sprite($music_hover);
  }
  .music_normal {
    @include sprite($music_normal);
  }
  .video_hover {
    @include sprite($video_hover);
  }
  .video_normal {
    @include sprite($video_normal);
  }
  .vote_hover {
    @include sprite($vote_hover);
  }
  .vote_normal {
    @include sprite($vote_normal);
  }
